<!DOCTYPE html>
<html>
<head>
	<title>Voir Job</title>
</head>
<body>

<h2>Intitulé : </h2>
<h2>Domaine : </h2>
<h2>Location : </h2>

	{{job.id}}
	{{job.titel}} 
	{{job.company}}
	<img src={{job.image.url}}>
</body>
</html>
